.container__form--input {
  @import '../components/input';
  input {
    border-color: $border-inp;
    border-width: 0.1em;
    border-radius: 6px;
    height: 40px;
    width: 77%;
    padding: 5px;
    padding-left: 15px;
  }

  .tg {
    border-collapse: inherit;
    border-spacing: 0;
  }
  .tg td {
    border-color: #d0d1d4;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 12px 5px 22px 22px;
    word-break: normal;
  }
  .tg th {
    border-color: #d0d1d4;
    background: #f0f2fa;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg__img {
    margin-left: 30px;
    width: 80px;
    height: 60px;
  }

  .tg .tg-60hs {
    height: -30px;
    border-top: none;
    border-bottom: none;
    font-size: 20px;
    text-align: left;
    vertical-align: top;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px;
  }

  .card-input-element {
    display: none;
  }

  .card-input {
    position: relative;
    height: 80px;
    width: 100%;
    margin: 10px;
    padding: 0px;
    border-radius: 12%;
    font-size: 13px;
    border-width: 1px;
    box-shadow: 0 0 1px 1px #d7d8df;
  }
  .panel-body {
    position: relative;
    .card__title {
      top: -40px;
      left: 10px;
      font-weight: 200;
      font-size: 10px;
      position: absolute;
    }
    .card__title--1 {
      top: -10px;
      left: 8px;
      font-weight: 200;
      position: absolute;
    }
    .card__title--2 {
      top: -15px;
      left: 24px;
      font-size: 24px;
      font-weight: 300;
      position: absolute;
    }

    .card__title--3 {
      position: absolute;
      top: 0px;
      left: 10px;
      font-weight: 200;
      font-size: 10px;
      position: absolute;
    }
  }
  .card-input:hover {
    cursor: pointer;
  }
  .card__img {
    opacity: 0.2;
    position: absolute;
    width: 14%;
    position: relative;
    margin-left: 80%;
    padding-top: 5%;
  }
  .card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
    .card__img {
      opacity: 1;
    }
  }

  .container__input--2 {
    width: 59%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .container__error {
    color: #ce4336;
    font-size: 12px;
    width: 32em;
    height: 16px;
    margin: 3px;
  }
  .container__error--1 {
    color: #ce4336;
    font-size: 12px;
    width: 32em;
    height: 16px;
    padding-top: 5px;
    padding-left: 24px;
    margin: -16px;
  }

  .container__checkbox {
    position: absolute;
    width: 120%;
    margin-top: -36px;
  }
  .container__checkbox--2 {
    position: absolute;
    width: 120%;
    margin-top: 15px;
    height: 50px;
  }
  .container__checkbox--3 {
    height: 50px;
  }

  .container__terms {
    position: relative;
    width: 30%;
    top: 0;
    margin-top: -36px;
    margin-bottom: 24px;
  }

  .container__icon {
    cursor: pointer;
    position: absolute;
    left: 75%;
    top: 30%;
    color: $icon-1;
    &:hover {
      opacity: 0.8;
    }
  }

  .container__floating {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;

    .container__floating--label {
      font-size: 0.8em;
      color: $label-c;
      position: absolute;
      pointer-events: none;
      top: 20px;
      left: 1.3em;
      transition: all 0.1s ease;
      width: 40%;
    }

    .container__floating--label1 {
      font-size: 0.8em;
      color: $label-c;
      position: absolute;
      pointer-events: none;
      width: 40%;
      top: 20px;
      left: 8em;
      transition: all 0.1s ease;
    }
  }

  .container__select {
    height: 4em;
    width: 18%;
    padding: 5px;
    border-right: 0;
    border-color: $border-inp;
    border-width: 0.1em;
  }

  .container__select--2 {
    height: 4em;
    width: 100%;
    padding: 5px;
    border-color: $border-inp;
    border-width: 0.1em;
  }

  optgroup {
    font-size: 80px;
  }
  align-items: center;
  height: 10%;
  width: 100%;
  div {
    margin-top: 20px;
  }
  a {
    color: $link;
    font-weight: 500;
    margin-left: 5px;
  }
  label {
    .container__radio {
      color: $label;
      display: block;
      width: 150%;
      padding-left: 35px;
      text-align: start;
      font-size: 13px;
      margin-top: -20px;
    }
    height: 20px;
    width: 16px;
    i {
      color: $link;
      display: block;
      width: 50%;
      padding-left: 35px;
      text-align: start;
      font-size: 13px;
    }
  }

  .container__button {
    cursor: pointer;
    border: 0;
    margin-top: 8%;
    border-color: $content;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    height: 56px;
    width: 38%;
    background-color: $content;
    color: $button-in;
    label {
      font-size: 15px;
    }
    &:hover {
      color: $button-h;
    }
  }

  .container__button--2 {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    height: 1px;
    width: 1px;
  }

  .container__button--3 {
    cursor: pointer;
    border: 0;
    margin-top: 8%;
    border-color: $content;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    height: 56px;
    width: 38%;
    margin-left: 14em;
    background-color: $btn-n;
    color: $color-i;
    label {
      font-size: 15px;
    }
    &:hover {
      background-color: $icon-1;
      color: $button-h;
    }
  }
  .container__input--3 {
    position: absolute;
    top: -15px;
    left: -17px;
  }

  .container__button--4 {
    cursor: pointer;
    border: 0;
    margin-top: 8%;
    border-color: $content;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    height: 56px;
    width: 38%;
    margin-left: 25em;
    background-color: $content;
    color: $container;
    label {
      font-size: 15px;
    }
    &:hover {
      background-color: $icon-1;
      color: $button-h;
    }
  }

  .container__i {
    width: 120px;
    position: absolute;
    top: -10px;
    left: -11px;
    color: $color-i;
  }
}
