input[type='date']:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  cursor: pointer;
  z-index: 1;
  -webkit-appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  opacity: 0.5;
}

input:focus ~ .container__floating--label,
input:not(:focus):valid ~ .container__floating--label {
  top: 3px;
  bottom: 0px;
  left: 1.2em;
  font-size: 0.8em;
  opacity: 1;
  color: $label-c;
}

input:focus ~ .container__floating--label1,
input:not(:focus):valid ~ .container__floating--label1 {
  top: 3px;
  bottom: 0px;
  left: 10.5em;
  font-size: 10px;
  opacity: 1;
  color: $label-c;
}

input[type='checkbox'] {
  padding: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-left: 5px;
  vertical-align: bottom;
  position: relative;
  top: 25px;
}

input[type='checkbox']:after {
  content: ' ';
  background-color: $input-c;
  display: inline-block;
  visibility: visible;
}

input[type='checkbox']:checked:after {
  width: 20px;
  height: 20px;
  color: $container;
  font-size: 1em;
  content: '\2714';
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='blue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10px;
  border-radius: 4px;
}
