@import 'components/color';
@import 'components/form';
body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 120%;
}

.container__content {
  position: relative;
  width: 83%;
  height: 86%;
  clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
  border-bottom-right-radius: 133px;
  background: $content;
}
.container__content--text {
  height: 86%;
  display: grid;
  margin-left: 8em;
  justify-content: start;
  align-content: center;
  color: $container;
  opacity: 0.9;
}

.container__title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  div {
    font-size: 2.5em;
    font-weight: 100;
    font-size: 50px;
  }
  label {
    font-size: 2.5em;
    font-weight: 400;
  }
}

.container__list {
  margin-top: 20px;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-bottom: 2px;
  font-weight: 100;
  div {
    margin-top: 20px;
  }
  img {
    height: 20px;
    margin-right: 10px;
  }
}

.container__shield {
  list-style: none;
}
.container__footer {
  font-weight: lighter;
  bottom: -105px;
  position: relative;
  font-size: 14px;
  align-content: end;
  opacity: 0.6;
}

.container__illustration {
  left: 40%;
  bottom: 20%;
  position: absolute;
}

.container__content_title {
  margin-top: 3.2em;
  margin-left: 2.5em;
  font-size: 50px;
}
.container__form--1 {
  grid-template-columns: 510px;
  grid-template-rows: 120px;
  position: relative;
  padding-top: 100%;
  padding-left: 5%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  align-items: center;
  justify-content: start;
  display: grid;
  .container__label {
    font-weight: 300;
    font-size: 1.6em;
    color: $label;
  }
  .container__label--1 {
    font-weight: 400;
    font-size: 1.5em;
    color: $label-1;
  }
  .container__label--2 {
    font-weight: lighter;
    font-size: 1.2em;
    color: $label-2;
  }
}

.container__form {
  position: relative;
  padding-top: 20%;
  padding-left: 5%;
  grid-auto-columns: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  align-items: start;
  justify-content: start;
  display: grid;
  .container__label {
    font-weight: 300;
    font-size: 1.6em;
    color: $label;
  }
  .container__label--1 {
    font-weight: 400;
    font-size: 1.5em;
    color: $label-1;
  }
  .container__label--4 {
    font-weight: 400;
    font-size: 0.8em;
    color: $label-1;
  }

  .container__label--5 {
    font-weight: 400;
    font-size: 0.8em;
    color: $label;
  }

  .container_lab {
    margin-bottom: 12px;
  }
  .container__label--2 {
    font-weight: lighter;
    font-size: 1.2em;
    color: $label-2;
  }
  .container__label--3 {
    font-weight: lighter;
    font-size: 1.2em;
    color: $label-2;
    margin-top: 25px;
    font-weight: 200;
  }
}
